{
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 80,
  "quoteProps": "preserve",
  "overrides": [
    {
      "files": [
        "*.ejs"
      ],
      "options": {
        "printWidth": 320
      }
    }
  ]
}