<!DOCTYPE html>
<html lang="en">

<head>

  <title>UntitledPasswordFindingGame</title>
  <%- include("../partials/head.ejs")%>

  <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
</head>

<body>
  <div id="container">
    <header>
      <%- include("../partials/header.ejs") %>
    </header>
    <h1>Administrator Dashboard</h1>
    <main>
      <a href="/administrator/add-announcement">Add a new announcement</a> |
      <a href="/administrator/add-problem">Add a new problem</a> |
      <a href="/administrator/edit-problem">Edit an existing problem</a> |
      <a href="/administrator/submissions">View submissions</a> |
      <a href="/administrator/clarifications">View unanswered clarifications</a>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>
  </div>
</body>

</html>