<!DOCTYPE html>
<html lang="en">

<head>
  <title>UntitledPasswordFindingGame</title>
  <%- include("../partials/head.ejs")%>
  <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
</head>

<body>
  <div id="container">
    <header>
      <%- include("../partials/header.ejs", {authentication: authentication}) %>
    </header>
    <main>
      <% if (!announcements || announcements.length === 0){ %>
      <h1>Welcome to UntitledPasswordFindingGame!</h1>
      There are no announcements at the moment.
      <% } else { %>
      <% for (let i = 0; i < announcements.length; i++) { %>
      <%- include("../partials/announcement.ejs",{announcement: announcements[i]})%>
      <% if (i < announcements.length-1) { %>
      <hr>
      <% } %>
      <% } %>
      <% } %>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>
  </div>
</body>