<% if(detail.value === "difficulty"){ %>
<td class="cell--text"><%= problem.difficulty ?? "" %></td>
<% }else if(detail.value === "categories"){ %>
<td class="cell--text"><%= problem?.categories?.join(", ") ?? "" %></td>
<%} else if(detail.value === "solved"){ %>
<td class="cell--text"><%= problem.correctAnswers.length %></td>
<%} else {%>
<td class="cell--text"><%= problem.correctAnswers.length %></td>
<%}%>