<hr>
<div>
  <span class="version-text">version 0.1.0-alpha</span>
  <br>
  <a href="https://mistertfy64.com">
    <img alt="mistertfy64" src="/assets/images/mistertfy64.svg" height="24" width="auto">
  </a>
</div>