<hr>
<div>
  <p class="footer-text">version 0.1.0-alpha.7 | <a href="https://github.com/mistertfy64/UntitledPasswordFindingGame">Source Code</a></p>
  <a href="https://mistertfy64.com">
    <img alt="mistertfy64" src="/assets/images/mistertfy64.svg" height="24" width="auto">
  </a>
</div>