<a href="/">Home</a> |
<a href="/problemset">Problemset</a> |
<a href="/contests">Contests</a> |
<% if (typeof authentication == "undefined" || !authentication.ok){ %>
<a href="/account">Account</a>
<% }else{%>
<a href="/account">Account (<%- authentication.username%>)</a>
<%} %>
<% if (typeof authentication !== "undefined" || authentication.ok){ %>
| <a href="/clarifications">Clarifications</a>
<% } %>
<% if (typeof authentication !== "undefined" && authentication.ok && authentication.isAdministrator){ %>
| <a href="/administrator">Administrator Dashboard</a>
<% }%>
<hr>